<!DOCTYPE html>
<html>
<head>
	<script src="Content/js/underscore-min.js"></script>
	<script src="Content/js/jquery-2.1.1.min.js"></script>
	<script src="Content/js/backbone-min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
	@RenderBody()
</body>
</html>

